<header>
  <h1>Fizz Buzz <small>(<%= @slice.numbers.first.value %> to <%= @slice.numbers.last.value %>)</small></h1>
</header>

<main>
  <section>
    <table id="fizz-buzz-numbers">
      <tr>
        <th>Value</th>
        <th>String</th>
      <tr>
      <%= render @slice.numbers %>
    </table>
  </section>
</main>
