<!DOCTYPE html>

<html>
  <head>
    <title>Fizz Buzz</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//writ.cmcenroe.me/1.0.3/writ.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
